h1
{ 
    text-align: center;
    padding: 15px;
    color: green;
    font-family: courier;
}
body
{
background-color: white;
}
p1
{
    color: rgb(192, 97, 8);
  font-size: large;
  font-weight: bolder;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  
}
p2
{
    color: rgb(192, 97, 8);
  font-size: large;
  font-weight: bolder;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  
}
p3
{
    color: rgb(192, 97, 8);
    font-size: large;
    font-weight: bolder;
}
.intro
{

    font-size: large;
    padding: 20px;
    color: black;
    font-family:fantasy;
}
.what
{ 
    font-size: large;
    text-size-adjust: 50px;
    padding: 10px;
    color: black;
   font-family: 'Times New Roman', Times, serif;
}
.animals
{
    font-size: large;
    padding: 40px;
    color: black;
   font-family: 'Times New Roman', Times, serif;

}
.ar
{
    width: 350px;
}
.amazon
{
    width: 450px;
}
h6
{
    font-size: x-large;
    text-align: center;
    padding:50px;
    color: rgb(192, 97, 8);
    font-family: courier;
    
}
.con
{
    padding: 20px;
    text-align: center;
    font-family: fantasy;
    font-size: larger;
    color: black;
}
.plant
{
    text-align: center;
    width:1000px
    
}
.goal
{
    padding: 20px;
    text-align: center;
    font-size: x-large;
    color: black;
    font-family: cursive;
}
.b
{
    padding: 20px;
    text-align: center;
    width: 400px;
}
.poem
{
    padding: 40px;
    color: black;
    font-size: x-large;
    font-family: cursive;
}
h2
{
    color: black;
}
.social a {
    padding: 0 .5em;
    color: green;
  }
  .aria
  {
    color:green;
  }
  .form-group
  {
    color: green;
  }
  .form-texttext-muted
  {
    color:green;
  }
  .btnbtn-primary
  {
    color: green;
  }
